@tailwind base;
@tailwind components;
@tailwind utilities;

.tomoon-input {
    height: 4rem;
    background: linear-gradient(0deg, rgba(90, 98, 66, 0.08), rgba(90, 98, 66, 0.08)), #FAFFE3;
    color: #474743;
}

.tomoon-button {
    height: 4rem;
    background: #5A6242;
    color: #FFFFFF;
    width: 4.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tomoon-svg {
    width: 2rem; /* You can adjust the size here to be responsive */
    height: 2rem; /* You can adjust the size here to be responsive */
}

.tomoon-title {
    color: #5A6242;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5A6242;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-xl.tomoon-title {
    color: #5A6242;
}
